extends layout

block content
  .container-fluid.main-content
  .page-title
    h1 Deconstructed Documentation



  include author
  each article in articles
    article.article.intro
      .row
        .col-lg-12
          .widget-container.fluid-height.clearfix
            .col-md-4
              .heading
                header
                p.date
                  span= moment.utc(article.date).format('DD. MMMM YYYY')
                i.icon-book
                  a(href=article.url)= article.title
                .widget-content.padded
                  if article.hasMore
                    p.more
                      a(href=article.url) more
            .col-md-8
              .widget-content.padded
                section.content
                  | !{ typogr(article.intro).typogrify() }

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »